<mat-card class="bg-slate-600 ">
  <mat-card class="box-shadow: 12px 12px 22px gray; bg-slate-300 mt-10 mb-20 mr-20 ml-20 p-15">
    <mat-card-title class="bg-slate-300">
      <p class= "text-sm text-center sm:text-xl  lg:text-center lg:font-extrabold lg:text-3xl text-gray-500 ">Login Here..!</p>

      </mat-card-title>
      <div class=" space-x-9 justify-center md:flex space-x-9 justify-center lg:flex space-x-9 justify-center ">
        <div class="">
      <img src="../../assets/img/4.jpg" class="object-cover h-58 w-96 ">
        </div>
        <div class=" text-sm md:text-3xl py-10 align-middle text-black ">
          <p class="text-center">New User!</p><br>
          <p class="text-sm md:text-2xl">Username:</p>
          <input class="text-sm bg-slate-600 w-13" type="text" placeholder="Username">
          <p class="text-sm md:text-2xl">Email Id:</p>
          <input class="text-sm bg-slate-600 w-13" type="password" placeholder="email">
          <p class="text-sm md:text-2xl">Password:</p>
          <input class="text-sm bg-slate-600 w-13" type="password" placeholder="pass">
          <p class="text-sm md:text-2xl">Retype Password:</p>
          <input class="text-sm bg-slate-600 w-13" type="password" placeholder="Retype"><br><br><br>
          <button class="border border-gray-900 bg-slate-200">Sign up!</button><br><br>
        </div>
      </div>


</mat-card>
<router-outlet></router-outlet>
