<mat-card class="bg-slate-300 xl:h-full">
  <mat-card-title>
  <div class="flex ">
    <div class="w-1/2">
      <img class="w-12 h-10" src="../../assets/img/logo.jpg">
    </div>
    <div class="flex space-x-2 text-sm ">
      <button class="h-12 " mat-raised-button color="warn">Sign up</button>
      <button class="h-12" mat-raised-button color="warn">Join</button>
         <select class="bg-black">
         <option value = "Mercedes"> Help</option>
         <option value = "Audi"> pricing</option>
         <option value = "Skoda"> About</option>
         </select>

    </div>
  </div>
</mat-card-title><br><br><br><br><br>
<div>
<p class="font-serif text-2xl text-center text-black md:text-5xl">A world of Greatest photo competation and the award in one place</p><br>
<div class=" ml-20 md:ml-[550px]">
  <button mat-raised-button color="primary" >Explore Here!</button><br><br>
</div>
</div>
<mat-card-footer>
<div class="grid gap-4 ml-16 space-x-8 text-black md:flex lg:p-9 ">
  <div class="w-1/2 border border-black ml-7">

    <p class="text-center">Enter contests to get your work<br> seen around the world, and win prizes</p>
  </div>

  <div class="w-1/2 border border-black">

    <p class="text-center">Take part with a global community <br>of photographers of all levels</p>
  </div>
</div>
</mat-card-footer>
</mat-card>
<mat-card class="flex bg-white">
  <div class="grid gap-5 ml-7">
  <img class="h-36 w-60 " src="../../assets/img/4.jpg">
  <p class="text-black">Famous Buildings</p>
  <img class="h-36 w-60 " src="../../assets/img/5.jpg">
  <p class="text-black">Famous Buildings</p>
  <img class="h-36 w-60 " src="../../assets/img/6.jpg">
  <p class="text-black">Famous Buildings</p>
  <img class="h-36 w-60 " src="../../assets/img/6.jpg">
  <p class="text-black">Famous Buildings</p>
  <img class="h-36 w-60 " src="../../assets/img/5.jpg">
  <p class="text-black">Famous Buildings</p>
  <img class="h-36 w-60 " src="../../assets/img/4.jpg">
  <p class="text-black">Famous Buildings</p>
</div>
</mat-card>
