<mat-card class="bg-slate-600 ">


<mat-card class="box-shadow: 12px 12px 22px gray; bg-slate-300 mt-10 mb-20 mr-20 ml-20 p-15"><mat-card-title class="bg-slate-300">
<p class= "text-sm text-center sm:text-xl  lg:text-center lg:font-extrabold lg:text-7xl text-gray-500 ">BeTrends</p>

</mat-card-title>
<div class=" space-x-9 justify-center md:flex space-x-9 justify-center lg:flex space-x-9 justify-center ">
  <div class="">
<img src="../../assets/img/1.jpg" class="object-cover h-58 w-96 ">
  </div>
  <div class="p-1 text-sm md:text-3xl py-10 align-middle text-black ">
    <p class="">Already have an account?</p><br>
    <button routerLink="login" class="bg-gray-600 hover:bg-black text-white text-sm font-thin py-1 px-2 border border-gray-400 rounded shadow">
      Signin!
    </button>
     <p>New User?</p><br>
     <button routerLink="reg" class="bg-gray-600 hover:bg-black text-white text-sm font-thin py-1 px-2 border border-gray-400 rounded shadow">
      Signup!
    </button><br><br>
    <hr class="bg-black"><br><br>
    <button class="bg-white hover:bg-slate-400 text-black text-sm font-semibold py-2 px-2 rounded-full md:px-6 bg-white hover:bg-slate-400 text-black text-sm font-thin lg:px-6 bg-white hover:bg-slate-400 text-black text-sm font-bold">Continue with Google
</button><br><br>
    <button class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-2 rounded-full md:px-6 bg-white hover:bg-blue-700 text-black text-sm font-thin">
  Continue with Facebook
</button><br>



  </div>
</div>
</mat-card>


</mat-card>
<router-outlet></router-outlet>
